.modalRegisterAlert {
    position: absolute;
    margin-left: 24%;
    margin-top: 9rem;
    width: 50%;

    @media (max-width: 768px) {
        margin-top: 5rem;
    }
}

.registerFormMainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: black;
        font-size: 4.2rem;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 1rem;
            font-size: 3.2rem;
        }
    }

    .registerFormCardContainer {
        width: 290px;
        border: 2px solid black;
        opacity: 0.9;
        border-radius: 1rem;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        @media (max-width: 330px) {
            width: 250px;
        }

        &:hover {
            border: 2px solid #800180;
        }

        .formStyle {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin: 0;
                color: black;
                text-align: center;
            }

            .iconPassword {
                color: black;

                &:hover {
                    color: #800180;
                }
            }

            .MuiInputBase-root {
                margin: 12px 0;
                color: black;

                & fieldset {
                    border: 2px solid black;
                }

                &:hover fieldset {
                    border: 2px solid #800180;
                }

                .css-yjsfm1 {
                    color: black;
                }
            }

            .Mui-focused fieldset {
                border: 2px solid #800180;
            }

            .registerButton {
                width: 180px;
                font-weight: bold;
                color: black;
                border-radius: 5px;
                border: 2px solid black;
                align-self: center;
                margin-top: 1rem;

                &:hover {
                    border: 2px solid #800180;
                    color: #800180;
                }
            }
        }
    }
}